{% extends "./layout.html" %}
{% load static %}

{% block body %}

  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto p-8 bg-gradient-to-r from-orange-50 to-amber-50 shadow">
      <h1 class="text-2xl font-medium mb-6 text-center">About</h1>
      <p class="mb-3 text-lg">I am a doctor and scientist, and a self-taught textile artist.</p>
      <p class="mb-3 text-lg">In 2014 I discovered art quilts and Studio Art Quilt Associates (SAQA) online, and in 2015
        I made my first
        textile portrait. I am particularly interested in the portrayal of the human form and all parts of the human
        body. I enjoy playing with colour, pattern and value and relish the challenge of constructing the human form in
        a monochromatic palette of textiles and thread.</p>
      <p class="mb-3 text-lg">I take inspiration from words and books but most of my subject matter comes from
        historical and contemporary family photographs. I like to add more layers of meaning or alter the arrangement
        and context of the original pictures to tell a new story. More recently I have branched out into social
        commentary, again usually based on the human figure. My work has also encompassed Greek mythology and sculpture,
        and the occasional animal.</p>
      <p class="mb-3 text-lg">The unifying threads in my works are the style and techniques used. Although the details
        of the techniques used change from piece to piece, the majority is made in a realistic collage style in fabric
        and thread. I predominantly use commercial cotton fabric, batiks and recycled clothing, with an occasional line
        of pencil or dot of paint for tiny details.</p>
      <p class="mb-3 text-lg">I welcome commissions. Please feel free to
        <a class="hover:underline font-bold" href="/contact">email me</a>
        to discuss commissioning a fabric portrait, nude or collage of hands. Each piece I make is unique. However, if
        there is something you like on the website, but it has already been sold, please contact me to discuss having a
        piece made on a similar theme and/or technique.</p>
    </div>
  </div>

{% endblock %}
