{% extends "./layout.html" %}
{% load static %}

{% block body %}

  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto p-8 bg-blue-400/25">
      <h1 class="text-2xl font-medium mb-2 text-center">About</h1>
      <p>I am a doctor and scientist, and a self-taught textile artist.</p>
      <p>In 2014 I discovered art quilts and Studio Art Quilt Associates (SAQA) online, and in 2015 I made my first
        textile portrait.</p>
      <p>I am particularly interested in the portrayal of the human form and all parts of the human body.</p>
      <p>I enjoy playing with colour, pattern and value and relish the challenge of constructing the human form in a
        monochromatic palette of textiles and thread.</p>
      <p>I take inspiration from words and books but most of my subject matter comes from historical and contemporary
        family photographs.</p>
      <p>I like to add more layers of meaning or alter the arrangement and context of the original pictures to tell a
        new story.</p>
      <p>More recently I have branched out into social commentary, again usually based on the human figure.</p>
      <p>My work has also encompassed Greek mythology and sculpture, and the occasional animal.</p>
      <p>The unifying threads in my works are the style and techniques used. </p>
      <p>Although the details of the techniques used change from piece to piece, the majority is made in a realistic
        collage style in fabric and thread.</p>
      <p>I predominantly use commercial cotton fabric, batiks and recycled clothing, with an occasional line of pencil
        or dot of paint for tiny details.</p>
      <p>I welcome commissions. Please feel free to email me at mjs.textileart@gmail.com to discuss commissioning a
        fabric portrait, nude or collage of hands.</p>
      <p>Each piece I make is unique. However, if there is something you like on the website but it has already been
        sold, please contact me to discuss having a piece made on a similar theme and/or technique.</p>
    </div>
  </div>

{% endblock %}
