{% extends "./layout.html" %}
{% load static %}

{% block body %}
  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto p-8 bg-gradient-to-r from-orange-50 to-amber-50 shadow">
      <h1 class="text-2xl font-medium mb-6 text-center">Classes</h1>
      <p class="mb-3 text-lg">I make realistic collages using a raw edge, fused fabric technique, and by participating
        in my classes, I will teach you to do the same.</p>
      <p class="mb-3 text-lg">I specialise in portraits, nudes and people, although the techniques I teach can equally
        well be used for animals, landscapes, still life etc.</p>
      <p class="mb-3 text-lg">I currently offer three classes (click on the link to get more information):</p>
      <ol class="list-decimal list-inside mb-3 text-lg px-6">
        <li class="mb-3">A 1-day beginners' class:
          <a class="hover:underline font-bold" href="{% static 'pdfs/Class_I_Using_Values_and_Shadows.pdf' %}" target="_blank">
            Value and Shadows</a>.
        </li>
        <li class="mb-3">A 2-day intermediate class:
          <a class="hover:underline font-bold" href="{% static 'pdfs/Class_II_Using_value_for_realism.pdf' %}" target="_blank">
            Using Value for Realism: Make a Realistic Hand.</a>
        </li>
        <li class="mb-3">An advanced 4-day class:
          <a class="hover:underline font-bold" href="{% static 'pdfs/Class_III_portrait.pdf' %}" target="_blank">
            Make a Realistic, Monochromatic Portrait.</a>
        </li>
      </ol>
      <p class="mb-3 text-lg">I am also developing another intermediate level class Using Value for Realism: Make a
        Realistic Rhino so that people have more choice of classes before participating in my advanced portrait class.
        These classes are face-to-face in New Zealand only at the minute.</p>
      <p class="mb-3 text-lg">Please <a class="hover:underline font-bold" href="/contact">email me</a> to inquire about
        classes.</p>
    </div>
  </div>
{% endblock %}
