{% extends "./layout.html" %}
{% load static %}

{% block body %}
  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto my-16 p-16 bg-blue-400/25">
      <h1 class="text-2xl font-medium mb-2 text-center">Classes</h1>
      <p>I make realistic collages using a raw edge, fused fabric technique, and by participating in my classes, I will
        teach you to do the same.</p>
      <p>I specialise in portraits, nudes and people, although the techniques I teach can equally well be used for
        animals, landscapes, still life etc.</p>

      <p>I currently offer three classes (click on the link to get more information):</p>
      <ol>
        <li>A 1-day beginners' class: Value and Shadows.</li>
        <li>A 2-day intermediate class: Using Value for Realism: Make a Realistic Hand.</li>
        <li>An advanced 4-day class: Using Value for Realism: Make a Realistic, Monochromatic Portrait.</li>
      </ol>
      <p>I am also developing another intermediate level class Using Value for Realism: Make a Realistic Rhino so that
        people have more choice of classes before participating in my advanced portrait class. These classes are
        face-to-face in New Zealand only at the minute.</p>
      <p>Please <a href="/contact">email me</a> to inquire about classes.</p>
    </div>
  </div>
{% endblock %}
