{% extends "./layout.html" %}
{% load static %}

{% block body %}
  <div class="container mx-auto">
    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-3 m-3">
      {% for quilt in quilts %}
        <div class="max-w-lg mx-auto flex">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
            <a href="/gallery/{{ quilt.title }}">
              <!-- TODO - use image thumbnail -->
              <img class="rounded-t-lg" src="{{ quilt.image.url }}" alt="{{ quilt.title }}">
            </a>
            <div class="p-5">
              <a href="#">
                <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">{{ quilt.title }}</h5>
              </a>
              <p class="font-normal text-gray-700 mb-3">{{ quilt.get_status_display }}</p>
              <a class="text-white bg-blue-500 hover:bg-blue-600 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center"
                href="/gallery/{{ quilt.title }}">
                See more
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
