{% extends "./layout.html" %}
{% load static %}

{% block body %}
  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto p-8 bg-blue-400/25">
      <h1 class="text-2xl font-medium mb-2 text-center">Links</h1>
      <ul>
        <li>
          <a href="https://www.saqa.com/" target="_blank">Studio Art Quilt Associates (SAQA)</a>
        </li>
        <li>
          <a href="https://www.otagoquilters.org.nz//" target="_blank">Quilters and Patchworkers of Otago Inc</a>
        </li>
        <li>
          <a href="https://otagoartsociety.co.nz/" target="_blank">Otago Art Society</a>
        </li>
        <li>
          <a href="https://www.facebook.com/OtagoArtSociety/" target="_blank">Otago Art Society Facebook page</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
