{% extends "./layout.html" %}
{% load static %}

{% block body %}
  <div class="px-4 py-6">
    <div class="max-w-3xl bg-white rounded-lg mx-auto p-8 bg-gradient-to-r from-orange-50 to-amber-50 shadow">
      <h1 class="text-2xl font-medium mb-2 text-center">Resume</h1>
      <p>Mary Jane is a self-taught textile artist. Her background is predominantly in science and medicine and she
        still works part-time as a cancer researcher. However, her education did not completely ignore the humanities,
        and although she has no formal training in art, she was a professional viola player for about 30 years.</p>
      <p>As a doctor she is particularly interested in the portrayal of the human form and all parts of the human body.
        In 2014 after discovering Studio Art Quilt Associates (SAQA) online, and retiring from viola playing, she began
        an exploration into portraiture and nudes. She creates photo-realistic textile works, predominantly nudes and
        portraits, and more recently has incorporated some social commentary based on the human form.</p>
      <p>She is a member of Studio Art Quilt Associates (SAQA), Gondwana Textile Artists (an invitation only group of
        textile artists from New Zealand and Australia), Quilters and Patchworkers of Otago, Ltd, and an artist member
        of the Otago Art Society.</p>
      <h2>Juried Exhibitions, Shows and Awards</h2>
      <p>I do not send my artworks on the international exhibition circuit. I usually exhibit each large artwork in a
        maximum of 2 international exhibitions and then they go to their permanent homes. Commissions do not get
        exhibited at all, unless special permission is granted.</p>
      <h3>2019</h3>
      <ul>
        <li>
          <a href="#">Me and My Sisters</a>
          <ul class="list-disc list-inside">
            <li>Juried into the 'It's All Relative' challenge from Experience Fiber Art, New York, USA, 2018. Won a
              juror's award.
            </li>
            <li>Juried into the Ailsa Craig exhibition, Canada, 2019</li>
            <li>Juried into the Rotorua Quilt Show, New Zealand, 2019</li>
          </ul>
        </li>
        <li>
          <a href="#">Babe in Arms</a>
          <ul class="list-disc list-inside">
            <li>Juried into the Ailsa Craig exhibition, Canada, 2019</li>
            <li>Juried into the Rotorua Quilt Show, New Zealand, 2019</li>
          </ul>
        </li>
        <li>
          <a href="#">Jewelled Gecko on Native Ngaio</a>
          <ul class="list-disc list-inside">
            <li>Juried into the Ailsa Craig exhibition, 'New Zealand, Through Our Own Eyes', Canada, 2019</li>
            <li>Juried into the Rotorua Quilt Show, New Zealand, 2019</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
